<!DOCTYPE html>
<html>
  <head>
    <title>BankRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      
    </header>
    <div class="container">
      <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
    </div>
  </body>
</html>
